
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@200&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
    background-color: #191919;
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}
body{ 
    display: flex;
    overflow-x: hidden;
    font-family: cursive;
  }

.titre{
    position: absolute;
    top :50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 8em;
    font-family: sans-serif;
    background: linear-gradient(to right,#5ddcff, #3c67e3 43%, #4e00c2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    font-family: 'Bebas Neue', cursive;
}


.clock-container{
  width: 350px;
  height: 350PX;
  margin:14% 3%;
}


.clock {
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-image: url('./Horloge.png');
    background-size: 350px;
    border: 4px solid #191919;
    border-radius: 50%;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);
}

.clock:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #747474;
    border-radius: 50%;
    z-index: 999;

}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ffffff;
    z-index: 9;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #8b8b8b;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: "";
    position: absolute;
    width: 2px;
    height:150px;
    background: #e5e5e5;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

@property --rotate {  
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }
  
  .hover-me{
    position: absolute;
    top: 350px;
    right: 7px;
    width: 500px;
    text-align: center;
    color: white;
    font-size: 2.5em;
    pointer-events: none;
  }

  .card:hover+p{
    display: none;
  } 

  .card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: absolute;
    border-radius: 6px;
    justify-content: flex-start;
    align-items: baseline;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    bottom: 50%;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    top: 17.5vh;
    right: 75px;
  }

  .card pre{
    width: 100%;
    height: 100%;
    margin-left: 100px;
    opacity: 0;
    
    
  }

  .card :hover {
  
    opacity:100;
  }

  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  .card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0; 
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  

