
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@200&display=swap');
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
    background-image: url(images/first_background.jpg);
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
}


/* .body{
   
} */

.titre{
    position: absolute;
    top :50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size: 8em;
    font-family: sans-serif;
    background: linear-gradient(to right, rgb(255, 153, 0), rgb(233, 174, 98),  rgb(231, 203, 166), #ffffff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    font-family: 'Bebas Neue', cursive;
}



.clock {
    display: flex;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    margin:4% 45%;
    background: url(http://samuel-garcia.site/img/clock-sam.png);
    background-size: cover;
    border: 4px solid #191919;
    border-radius: 50%;
    box-shadow: -4px -4px 10px rgba(67, 67, 67, 0.5),
        inset 4px 4px 10px rgba(0, 0, 0, 0.5),
        inset -4px -4px 10px rgba(67, 67, 67, 0.3),
        4px 4px 10px rgba(0, 0, 0, 0.3);
}

.clock:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #747474;
    border-radius: 50%;
    z-index: 999;

}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour, .hr {
    width: 160px;
    height: 160px;
}

.clock .min, .mn {
    width: 190px;
    height: 190px;
}

.clock .sec, .sc {
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ffffff;
    z-index: 9;
    border-radius: 6px 6px 0 0;
}

.mn:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #8b8b8b;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: "";
    position: absolute;
    width: 2px;
    height:150px;
    background: #e5e5e5;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}


.image2{
  
    background-image: url(images/la_2.jpg);
  

}